* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body::selection {
    background-color: #707070;
    color: white;
}

/****** Root ******/

:root {
    --primary-fontFamily: "DM Sans", sans-serif;
    --primary-color: #521BED;
    --secondary-color: #6c757d;
    --text-dark: #222;
    --text-light: #fff;
    --heading-size: 2.5rem;
    --transition: all 0.3s ease-in-out;
}

/* ********** Navbar *********** */
/* .navbar {
  transition: background-color 0.4s ease, color 0.4s ease;
  padding: 1rem 2rem;
}

.navbar .nav-link {
  color: white; 
  transition: color 0.4s ease;
}


.navbar.scrolled {
  background-color: white !important;  
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.navbar.scrolled .nav-link {
  color: #000; 
} */
.nav-item a {
    transition: all 0.3s ease;
}

.nav-item a:hover {
    color: white !important;
}


/*************** hero section *************/

.hero-img {
    height: 100vh;
    object-fit: cover;
    transition: transform 10s ease-in;
}

.nav-item {
    text-transform: uppercase;
    font-family: var(--primary-fontFamily);
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.953);
}

form i {
    color: white;
    font-size: 1.2rem;

}

.hero-zoom {
    animation: zoomOut 6s ease-in infinite alternate;
}

@keyframes zoomOut {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

.carousel {
    padding: 0 !important;
}

.carousel-fade .carousel-item {
    transition: opacity 1s ease-in;
}

.carousel-inner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,
            #1a2030f6 10%,
            #1a203079 50%,
            #1a203081 100%);
    z-index: 1;
}

.carousel-inner .carousel-item img {
    position: relative;
    z-index: 0;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 2;
}

.hero-content h1 {
    font-family: var(--primary-fontFamily);
    font-size: 42px;
    font-weight: 200 !important;
    line-height: 58.8px;
    color: rgb(255, 255, 255);
}

.hero-content p {
    font-family: var(--primary-fontFamily);
    font-size: 18px;
    font-weight: 400 !important;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.5);
}

.hero-content a {
    background-color: #6637e6;
    border: none;
    transition: all 0.3s ease;
}

.hero-content a:hover {
    background-color: var(--primary-color);
}


/********** Features *****************/
.feature-card {
    border: 1px solid #eee;
    border-radius: 10px;
    background: #fff;
    gap: 1.4rem;
    height: fit-content;

}

.fw-bold {
    transition: all 0.3s ease;
}

.feature-card:hover .feature-body h5 {
    color: #623fc4;
}

.feature-body {
    text-align: start;
    width: 13rem;
}

.icon-circle {
    margin: 0;
    width: 60px;
    height: 60px;
}

.icon-circle i {
    border: 2px dotted #9675F4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #333;
    padding: 0.6rem 2rem;
}

.feature-body h5 {
    font-family: var(--primary-fontFamily);
    font-size: 20px;
    font-weight: 500 !important;
    line-height: 28px;
    color: black;
}

.text-muted {
    font-family: var(--primary-fontFamily);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(112, 112, 112);
}


/************* about us ******************/

.about-us {
    width: 100%;
    margin: 2rem 0 0 0;
    background-color: #F8F9FA;
    padding: 6rem 0;

}

.images {
    position: relative;
}

.images img {
    border-radius: 10px;
}

#ab-img {
    position: absolute;
    bottom: -1.5rem;
    right: -9rem;
}

.img2 i {
    color: #764AF1;
    position: absolute;
    bottom: 5rem;
    right: -3rem;
    padding: 1.8rem 2.7rem 1.8rem 2rem;
    background-color: white;
    border-radius: 50%;
}

.img2 i:hover {
    cursor: pointer;
}

.about-right {
    max-width: 45%;
}


.about-right span {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    color: rgb(118, 74, 241);
    background-color: #F1F0F9;
}

.about-right h3 {
    font-family: "DM Sans", sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 39.2px;
    color: rgb(22, 28, 45);
}

.about-right p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(112, 112, 112);
}

.about-btn {
    font-family: "DM Sans", sans-serif !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 21px !important;
    color: white !important;
    background-color: #764AF1 !important;
    transition: all 0.3s ease !important;

}

.about-btn:hover {
    background-color: #521BED !important;
}

/************ CTA 1 ***************/


.cta1 {
    background-image: url(./assets/images/cta1.jpeg);
    background-attachment: fixed;
    padding: 7rem 0;
    background-size: cover;
    position: relative;
    color: black;
    z-index: 1;
}

.dark {
    z-index: -1;
    color: black;
    opacity: 60%;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.section-title h4 {
    font-family: "DM Sans", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 39.2px;
    color: rgb(255, 255, 255);
}

.cta1-btn a {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: rgb(22, 28, 45);
    transition: all 0.3s ease;
}

/**************** Services *******************/
.services {
    padding: 6.2rem 0;
}

.badge {
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    color: rgb(118, 74, 241) !important;
    background-color: #F1F0F9;
}

.service-p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(112, 112, 112);
}

.cards {
    padding: 6.2rem 0 0 0;

}

.row1,
.row2 {
    justify-content: space-evenly;
    /* max-width: 100%; */
}

.service-card {
    width: 22rem;
    /* max-width: 100% !important; */
    padding: 1rem;
    border: 2px dashed rgba(75, 75, 75, 0.103) !important;
    transition: all 0.3s ease;
    scale: 1;
}

.service-card i {
    background-color: #F8F6FE;
    padding: 1rem 1.2rem 1rem 1.2rem;
    color: var(--primary-color);
}

.service-card:hover {
    border: 2px dashed rgba(75, 75, 75, 0.288) !important;
    scale: 1.02;
}

.card-body p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgb(112, 112, 112);
}

.card-body a {
    transition: all 0.3s ease;
}

.card-body a:hover {
    color: var(--primary-color);
}

/**************** Testimonials ************/

.testimonial-section {
    position: relative;
    background: url("./assets/images/testimonial-bg.jpeg") center/cover no-repeat;
    background-attachment: fixed;
    padding: 4rem 0;
    overflow: hidden;
}

.testimonial-section .overlay1 {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.testimonial-container {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 20rem;
    padding: 0 20px;
    overflow: hidden;
}

.testimonial-slider {
    display: flex;
    width: 100%;
    transition: transform 0.8s ease-in-out;
}

.slide {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
}

.card1,
.card2,
.card3,
.card4 {
    width: 60%;
    max-width: 760px;
    background: #fff;
    color: #333;
    border-radius: 12px;
    padding: 40px 36px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.18);
    position: relative;
    text-align: center;
}

.slide-content i {
    /* font-size: 2rem; */
    color: #764AF1;
    margin-bottom: 12px;
}

.testimonial-text {
    font-style: italic;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.5;
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto 6px;
    display: block;
    border: 3px solid #fff;
}

.name {
    font-size: 15px;
    font-weight: 500;
    line-height: 21px;
    color: rgb(33, 37, 41);
}

.role {
    color: #777;
    font-size: .95rem;
    margin: 6px 0 12px;
}

.stars {
    color: #ffc107;
    font-size: 1.1rem;
    letter-spacing: 3px;
}

/* Responsive */
@media (max-width: 900px) {

    .card1,
    .card2,
    .card3,
    .card4 {
        width: 90%;
        padding: 30px 22px;
    }

    .testimonial-section {
        padding: 70px 0;
        background-attachment: scroll;
    }

    /* mobile fix */
}

@media (max-width: 480px) {

    .card1,
    .card2,
    .card3,
    .card4 {
        width: 95%;
        padding: 22px;
    }

    .slide-content i {
        font-size: 1.6rem;
    }
}



@media (max-width: 768px) {

    .row1,
    .row2 {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 1rem;
    }

}


#price {
    padding: 6rem 0;
}

.price-header {
    background-color: #623fc4;
}

.para-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: rgba(112, 112, 112, 0.842);
}

.feature-list svg {
    width: 1rem;
    height: auto;
}

.feature-list {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(112, 112, 112, 0.836);
}

.stand-btn {
    background-color: #623fc4 !important;
    color: white !important;
}

.price-btn {
    font-family: var(--primary-fontFamily);
    text-transform: uppercase;
    font-weight: 500 !important;
}



/************* Team members ****************/

.team-members {
    padding: 4rem 0;
    background: #fff;
}

.images {
    justify-content: space-evenly;
}

.img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.img img {
    width: 16rem;
    height: 16rem;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

/* Dark overlay */
.overlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.1));
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    opacity: 0;
    transition: all 0.5s ease;
}

.overlay h4 {
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.overlay h4:hover {
    color: #9074df;
}

.overlay p {
    font-size: 14px;
    color: #ddd;
}

.social-icons {
    margin: 0 0 2rem 0;
}

.social-icons a {
    color: #fff;
    margin: 0 6px;
    font-size: 12px;
    transition: color 0.3s;
    background-color: #521BED;
    padding: 0.4rem;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background-color: #673ae4;
}

/* Hover Effects */

.img:hover .overlay {
    bottom: 0;
    opacity: 1;
}




/************* Blogs ******************/

.blogs {
    padding: 4rem 0;
}

.blog-cards {
    justify-content: space-evenly;
    border: none;
    /* border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; */
}

.blog-cards .card {
    width: 22rem;
    max-width: 100%;
    border: 1px solid rgba(105, 105, 105, 0.068);
}

.card-img img {
    width: 20rem;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.blog-footer {
    justify-content: space-between;
}

.blog-icon {
    color: var(--primary-color);
}

.card-img {
    position: relative;
    overflow: hidden;
    margin: 1rem;

}


/* .blog-card:hover .card-img img {
    transform: scale(1.05);
} */

.card-img .shade {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.1));
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
    width: 20rem;
    border-radius: 10px;
    transition: opacity 0.4s ease;
}

/* Show shade on hover */
.blog-card:hover .shade {
    opacity: 1;
}

/* Tag badge */
.shade .blog-badge {
    font-size: 13px;
    padding: 8px 12px;
    border-radius: 6px;
}

.blog-badge{
    background-color: var(--primary-color);
    text-decoration: none;
    font-size: 12px !important;
    font-weight: 600;
    line-height: 12px;
    color: rgb(255, 255, 255);
}

/* Read More button */
.shade .read-btn {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.3s ease;
}

.shade .read-btn:hover {
    color: #9379db;
}
